nav.nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 70px;
    box-shadow: var(--box-shadow);
    position: fixed;
    background-color: white;
    z-index: 1000;

    .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;

        .left {
            .logo {
            }
        }
        .menu-list {
            display: flex;
            align-items: center;
            gap: 20px;
            height: 100%;
            .menu-item {
                display: flex;
                align-items: center;
                height: 100%;
                :nth-child(1) {
                    // padding: 5px 20px;
                    padding-inline: 20px;
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                }
                &:hover {
                    background-color: lightgray; // TO-DO fix this color
                }
            }
            &.mobile {
                position: absolute;
                margin-top: 300px;
                background-color: white;
                display: flex;
                flex-direction: column;
                right: 0;
                width: 100%;
                height: 100%;
                height: fit-content;
                z-index: 10;
                padding-block: 50px;
            }
        }
    }
}

// dropdown manage
.dropdown {
    float: left;
    overflow: hidden;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333333;
    color: white;
}

.dropdown:hover .dropdown-content {
    // top: 0;
    // margin-top: 0px;
    display: block;
}

// end of dropdown

footer {
    background-color: #333333;
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .socmed-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a {
            color: white;
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}

// ImageCarousel
.section-sliders-caption {
    display: flex;
    justify-content: start;
    align-items: end;
    height: 40%;
    .caption-content {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: large;
        width: 60%;
        padding: 15px;
    }
}
.slider-btn {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 100px;
    margin: 20px;
    svg {
        width: 30px;
        height: 30px;
    }
    &:hover {
        color: black;
        background-color: white;
    }
}

.indicator-carousel {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    text-align: center;
    border-radius: 100px;
    background-color: #888888;
    margin: 0;
    margin-inline: 5px;
    margin-top: -70px !important;
    z-index: 1000;
}

.indicator-carousel.active {
    color: #fff;
    background: white;
}
