.value-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;

    padding: 3vh 3vh 5vh 3vh;
    width: 30%;
    border: 2px solid;
    color: white;
    text-align: center;
    .logo-value {
        svg {
            width: 40px;
            height: 40px;
        }
    }
    p {
        line-height: 1.5;
    }
    .segitiga-unyu-kanan {
        height: 20px;
        width: 20px;
        background-color: green;
        rotate: 45deg;
        z-index: -1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(10%, -50%);
    }
    @media only screen and (max-width: 768px) {
        width: 50%;
        .segitiga-unyu-kanan {
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0%);
        }
    }
}
