@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
    font-family: "Bai Jamjuree", sans-serif;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}
h2 {
    font-weight: 700;
}

section {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
}
