section.padded {
    padding-block: 70px;
}

section.value-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin-bottom: 20px;
    }
    .values-card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}

section.contact-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    .field-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
    }
    Button {
        width: 50%;
        background-color: #6295bf;
    }
    @media only screen and (max-width: 768px) {
        .field-text {
            width: 100%;
        }
        Button {
            width: 100%;
        }
    }
}
